* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    min-height: 100%; /*Aquí se índica el mínimo de altura que queremos tenga*/

}
html {
    height: 100%; /*Aquí indicamos que está permitido que todos los items del grid ocupen el 100%*/
}

.grid-container > * {
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}

.header1 {
    grid-area: header1;
    background-color: aquamarine;
}

.nav-bar {
    grid-area: navbar;
    background-color: cornflowerblue;
}

.aside {
    grid-area: aside;
    background-color: darkmagenta;
}

.main {
    grid-area: main;
    background-color: rgb(38, 20, 47);
}

.footer1 {
    grid-area: footer1;
    background-color: goldenrod;
}

/*Teléfono*/
.grid-container {
    display: grid;
    grid-template-areas: 
    "header1"
    "navbar"
    "aside"
    "main"
    "footer1" 
    ;
}

/*Tablets*/
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header1 header1"
        "navbar navbar"
        "aside main"
        "footer1 footer1"
        ;
    }
    
}

/*Escritorio*/
@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header1 header1 header1"
        "navbar navbar navbar"
        "aside aside main"
        "footer1 footer1 footer1"
        
        ;
    }
}